  
/* header & nav items*/

.header{
    display: flex;
    justify-content: space-between;
    border: 2px solid red;
}

.logo{
    width: 100px;
   margin: 5px 10px;
   }

.nav-items ul{
    list-style: none;
    display: flex;
    font-size: 20px;
   
}

.nav-items ul li{
    padding: 10px;
   
    margin: 10px;
}

/* restraunt card */

.res-card{
    width: 200px;
    height: 380px;
    padding: 5px;
    background-color: lightgray;
    margin: 10px;
    
    
}

.res-card:hover{
    border: 1px solid black; 
    cursor: pointer;
}

.search{
  padding: 10px;
}

.res-logo{
    width: 100%;
}

.res-container{
    display: flex;
     align-items: start;
    justify-content: space-around;
    
}